{%extends "layout.html"%}
{%block content%}

<section id="top" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-10" >Welcome to My Website</h1>
        <h4>Sam Walden</h4>
        <h4>Full-Stack Web Developer</h4> 
        <a><strong></strong></a>
    </div>
</section>
<section id="trailer">
    <h2 class="display-4">Dance Videos</h2>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src=https://www.youtube.com/watch?v=HatpZAqX88I"></iframe>
    </div>
</section>
{%endblock%}
    
